.title {
    font-size: 2.4rem;
    font-weight: 700;
    color: rgb(255, 67, 67);
    text-align: center;
    margin-top: 2rem;
    transition-duration: 0.3s;
}

.title:hover {
    color: rgb(255, 121, 121);
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.wrapper {
    display: flex;
    background-color: rgb(21, 35, 49);
    width: 50rem;
    height: 15rem;
    justify-content: center;
    align-items: center;
}

.description-text {
    font-weight: 600;
    color: white;
    font-size: 1.1rem;
    margin-left: 1.2rem;
}

.number {
    color: rgb(43, 255, 0);
}