.navbar {
    margin-top: -1rem;
}

.navbar-item {
    color: white;
}

.logo-img {
    width: 10rem;
}

.navbar-light .navbar-nav .nav-link { 
    color : white;
    transition-duration: 0.3s;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: lightgreen;
}