.bg-img {
    height: 0;
    width: 0;
}

.bg-img > img {
    filter: brightness(43%);
    width: 89rem;
    height: 50rem;
}

@media only screen and (max-width: 450px) {
    .bg-img > img {
        width: 30rem;
        height: 50rem;
    }
}